<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XBatteryStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XBatteryStatus.Properties.Settings>
            <setting name="updateVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="reminderCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numbers" serializeAs="String">
                <value>False</value>
            </setting>
        </XBatteryStatus.Properties.Settings>
    </userSettings>
</configuration>