<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="XBatteryStatus" Manufacturer="Nova_Max" Version="1.3.0" UpgradeCode="93DDDD01-E50C-43CA-B3CB-EDF95BCEE958">

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.DowngradeError)" />
		<Launch Condition="VersionNT &gt;= 603" Message="!(loc.WindowsVersionError)"/>
		<MediaTemplate EmbedCab="yes" />

		<ui:WixUI Id="WixUI_FeatureTree" InstallDirectory="INSTALLFOLDER" />

		<Feature Id="Main">
			<ComponentGroupRef Id="AppComponents"/>
		</Feature>
	</Package>
</Wix>
